<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="images/favicon.png" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/feather.css" />
    <link rel="stylesheet" href="css/nice-select2.css" />
    <link href="css/glightbox.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/style.css" />


</head>

<body>
    <section class="course-sec-3 sec-padding">
        <div class="container">
            <div class="text-center sec-intro">
                <h2 class="sec-title text-white fw-bold">
                    Khoá Học <span class="color">Phổ Biến Nhất</span>
                </h2>
            </div>

            <div id="courseCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="position-relative">
                            <img src="https://img-c.udemycdn.com/notices/web_carousel_slide/image/271c3b3e-f170-47d6-869a-ddcb853476d5.png"
                                alt="" width="1340" height="400" loading="lazy">
                            <div class="banner-text shadow-lg">
                                <h2>Tri thức mở ra những cánh cửa</h2>
                                <p>Bắt đầu khám phá các khả năng mới cho tương lai của bạn. Học chỉ với chi phí từ ₫
                                    249.000 đến hết ngày mai.</p>
                            </div>

                        </div>
                    </div>

                    <div class="carousel-item active">
                        <div class="position-relative">
                            <img src="https://img-c.udemycdn.com/notices/web_carousel_slide/image/271c3b3e-f170-47d6-869a-ddcb853476d5.png"
                                alt="" width="1340" height="400" loading="lazy">
                            <div class="banner-text shadow-lg">
                                <h2>Tri thức mở ra những cánh cửa</h2>
                                <p>Bắt đầu khám phá các khả năng mới cho tương lai của bạn. Học chỉ với chi phí từ ₫
                                    249.000 đến hết ngày mai.</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 text-center mt-5 pt-3 pb-4">
                <a href="courses.html" class="btn btn-primary rounded-1 shadow-none">Xem Tất Cả
                </a>
            </div>
        </div>
    </section>





    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>