* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.logo {
    width: 180px;
}

.movie-poster img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.movie-detail-poster img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.movie-detail-content {
    font-size: 15px;
}

.fs-12 {
    font-size: 12px;
}
