<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: main-layout(~{:: title}, ~{:: #css}, ~{:: #content}, ~{:: #js})}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Eduxo - Online Courses and Education HTML5 Template</title>

  <th:block id="css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css"
          integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
  </th:block>
</head>
<body>

<th:block id="content">
  <section class="promo-sec2">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <nav aria-label="breadcrumb mt-0">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page" th:text="${course.title}">
                chi-tiet-khoa-hoc
              </li>
            </ol>
          </nav>
          <div class="course-intro">
            <h1 th:text="${course.title}">Front End Development from Beginner to Advance</h1>
            <p class="lead" th:text="${course.description}">Learn Front End, javascript online and
              supercharge your web design with
              this
              Javascript for beginners training
              course.</p>
            <div class="d-flex align-items-center mb-3">
              <span><i class="feather-icon icon-user"></i> <a class="text-reset" href="#"
                                                              th:each="teacher: ${course.teachers}"
                                                              th:text="${course.teachers[0].full_name}">John Doe</a></span>
              <span><i class="feather-icon icon-award"></i><a class="text-reset" href="#review"
                                                              th:text="'Đánh giá: '+ ${course.rating}"><img
                  src="/web-assets/images/icons/ratings.svg" alt="ratings">(4.8)</a></span>
              <span class="enrollment"><i
                  class="feather-icon icon-users"></i> Học viên: 2392 </span>
              <span class="last-update"><i class="feather-icon icon-calendar"></i>
                <span
                    th:text="${'Cập nhật: ' + #temporals.format(course.createdAt, 'dd-MM-yyyy')}"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="course-details-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <article class="course-details pe-lg-4">
            <img class="rounded-3 img-fluid" src="/web-assets/images/course-details.jpg"
                 alt="Course">
            <div class="course-details-meta d-sm-flex align-items-center justify-content-between">
              <div class="d-flex">
                <div class="avatar">
                  <img width="56" class="rounded-circle" src="/web-assets/images/avatar2.png"
                       alt="avatar">
                </div>
                <div class="avatar-info ms-3">
                  <h5 class="display-5 fw-bold m-0" th:each="teacher : ${course.teachers}"
                      th:text="${teacher.full_name}">Charlotte
                    Wilson</h5>
                  <span class="mute-alt">Technology Facilitator</span>
                </div>
              </div>
              <div class="course-reviews">
                <h6>Đánh Giá</h6>
                <div class="d-flex align-items-center">
                  <div class="ratings">
                    <th:block
                        th:each="i : ${#numbers.sequence(1, T(java.lang.Math).round(course.rating))}">
                      <a href="#"><img src="/web-assets/images/icons/star.png" alt="Star"/></a>
                    </th:block>
                  </div>
                  <span th:text="${'(' + reviews.size()} + ' Đánh Giá)'">(03 Reviews)</span>
                </div>
              </div>
              <div class="course-cat">
                <h6>Thể Loại</h6>
                <span class="mute-alt"
                      th:text="${course.category.name}">UI/UX Design</span>
              </div>
            </div>

            <div class="course-nav">
              <nav id="navbar-example2" class="bg-white sticky-top">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="#overview"><i class="feather-icon icon-bookmark"></i>
                      Giới Thiệu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#course"><i class="feather-icon icon-box"></i>
                      Chương Trình</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#instructor"><i class="feather-icon icon-user"></i>
                      Giảng Viên</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#review"><i
                        class="feather-icon icon-star"></i>Đánh Giá</a>
                  </li>
                </ul>
              </nav>
              <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0"
                   class="scrollspy-example" tabindex="0">
                <div class="inner-sec" id="overview">
                  <h2 class="display-4 fw-bold">
                    Giới Thiệu Khoá Học
                  </h2>
                  <p>Acknowledge any challenges or concerns related to implementing in education.
                    Discuss
                    possible solutions or
                    ways to address these challenges, emphasizing the importance of perseverance in
                    adopting
                    innovative educational
                    approaches. Speculate on the future implications and developments related to
                    your
                    chosen
                    topic. Consider how it might
                    evolve and continue to shape the education landscape</p>
                  <ul>
                    <li>Energy-efficient designs are also gaining momentum</li>
                    <li>The construction industry is increasingly leveraging smart technologies</li>
                    <li>Embracing these trends not only aligns with global environmental goals</li>
                  </ul>
                  <h3 class="display-5 my-4">Fundamentals of UI/UX Design</h3>
                  <p>Acknowledge any challenges or concerns related to implementing in education.
                    Discuss
                    possible solutions or
                    ways to address these challenges, emphasizing the importance of perseverance in
                    adopting
                    innovative educational
                    approaches. Speculate on the future implications and developments related to
                    your
                    chosen
                    topic. Consider how it might
                    evolve and continue to shape the education landscape</p>
                </div>
                <div class="inner-sec" id="course">
                  <h2 class="display-4 fw-bold">
                    Nội Dung Khoá Học
                  </h2>

                  <div class="accordion-2" id="accordion-course">
                    <div class="accordion-item" th:each="section: ${sections}">
                      <h2 class="accordion-header" th:id="heading+${section.id}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse" aria-expanded="true"
                                th:attr="data-bs-target='#collapse' + ${section.id}"
                                th:aria-controls="collapse+ ${section.id}"
                                th:text="${section.title}">
                          Understanding UI and UX Design <sub class="ms-2">/ 2 hours 30min</sub>
                        </button>
                      </h2>
                      <div th:id="collapse+ ${section.id}" class="accordion-collapse collapse show"
                           th:aria-labelledby="heading+${section.id}"
                           data-bs-parent="#accordion-course">
                        <div class="accordion-body">
                          <div class="lesson-items">
                            <ul class="list-unstyled">
                              <li><a href="#"
                                     class="d-flex justify-content-between align-items-center"
                                     th:each="lesson: ${lessons.get(section.id)}">
                                <span class="lesson-title">
                                  <img src="/web-assets/images/icons/video.png" alt="Video">
                                  <span th:text="${lesson.title}"></span>
                                </span>
                                <span>
                                  <span th:text="${lesson.duration}"></span>
                                  <img src="/web-assets/images/icons/lock.png"
                                       alt="Lock"></span>
                              </a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="inner-sec" id="instructor">
                  <h2 class="display-4">Giảng Viên</h2>
                  <div
                      class="author-card d-md-flex align-items-center border rounded-2 bg-shade p-3">
                    <div class="author-img">
                      <img src="/web-assets/images/instructor-lg.jpg" alt="Instructor"
                           class="img-fluid rounded-3">
                    </div>
                    <div class="author-text">
                      <h4>Maria Rivera, M.A.</h4>
                      <small class="text-mute">Arts Instructor</small>
                      <p>This is a comprehensive outline, and the actual content and duration of
                        each
                        module
                        may vary based on the course
                        format
                        and duration. Hands-on activities, case studies, and real-world projects
                        should be
                        integrated throughout the course
                        to
                        enhance practical skills.</p>
                      <div class="social-share white mt-3">
                        <a href="#"><i class="feather-icon icon-facebook"></i></a>
                        <a href="#"><i class="feather-icon icon-twitter"></i></a>
                        <a href="#"><i class="feather-icon icon-youtube"></i></a>
                        <a href="#"><i class="feather-icon icon-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="inner-sec" id="review">
                  <h2 class="display-4">Đánh Giá</h2>
                  <div class="entry-comments mt-5">
                    <div class="post-comments">
                      <ol class="comment-list list-unstyled">
                        <li th:each="review: ${reviews}">
                          <article class="comment-entry">
                            <div class="d-sm-flex align-items-top">
                              <div class="comment-thumb">
                                <img width="80" class="img-fluid rounded-circle"
                                     th:src="${review.user.avatar}" alt="Comments">
                              </div>
                              <div class="commentor ms-lg-4 bg-shade p-4 rounded-2">
                                <div class="d-flex justify-content-between mb-3">
                                  <div class="comment-head">
                                    <h4 class="display-5 mb-0" th:text="${review.user.full_name}">
                                      Johnathon Smith</h4>
                                    <small class="text-muted"
                                           th:text="${#temporals.format(review.createdAt, 'dd-MM-yyyy')}">Nov
                                      12, 2022 at 12:12 am</small>
                                  </div>
                                  <div class="ratings pt-2">
                                    <th:block
                                        th:each="i: ${#numbers.sequence(1, review.rating)}">
                                      <img src="/web-assets/images/icons/star.png" alt="Star">
                                    </th:block>
                                  </div>
                                </div>
                                <p th:text="${review.content}">Mauris non dignissim purus, ac
                                  commodo diam. Donec sit amet
                                  lacinia
                                  nulla. Aliquam quis purus in justo pulvinar tempor.</p>
                              </div>
                            </div>
                          </article>
                        </li>
                      </ol>
                    </div>
                    <div id="review-pagination"
                         class="d-flex justify-content-center align-items-center"></div>
                    <div class="comment-form mt-5">
                      <h3 class="display-4">Add a Review</h3>
                      <div class="d-flex align-items-center">
                        <span>Rate This Course:</span>
                        <div class="ratings ms-2">
                          <img src="/web-assets/images/icons/star-nil.png" alt="Star">
                          <img src="/web-assets/images/icons/star-nil.png" alt="Star">
                          <img src="/web-assets/images/icons/star-nil.png" alt="Star">
                          <img src="/web-assets/images/icons/star-nil.png" alt="Star">
                          <img src="/web-assets/images/icons/star-nil.png" alt="Star">
                        </div>
                      </div>
                      <form action="#" class="row gy-3 mt-4">
                        <div class="col-lg-6 form-group">
                          <input type="text" placeholder="Your Name">
                        </div>
                        <div class="col-lg-6 form-group">
                          <input type="text" placeholder="Email Address">
                        </div>
                        <div class="col-lg-12 form-group">
                        <textarea name="message" id="message" rows="8"
                                  placeholder="Comment"></textarea>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="check">
                          <label for="check">Save my name, email, and website in this browser for
                            the
                            next
                            time I comment.</label>
                        </div>
                        <div class="col-lg-12">
                          <button class="btn btn-primary mt-4">Leave a Review</button>
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-lg-4">
          <aside class="sidebar sticky-top widget-top">
            <div class="widget price-widget bg-white border p-3 rounded-3">
              <div class="course-preview mb-3">
                <img src="/web-assets/images/course2.jpg" alt="Course preview" class="img-fluid">
                <div class="video-block-sm">
                  <div class="waves wave-1"></div>
                  <div class="waves wave-2"></div>
                  <div class="waves wave-3"></div>
                  <a class="cover-video" href="https://www.youtube.com/watch?v=tUP5S4YdEJo"><img
                      src="/web-assets/images/icons/play.png" alt></a>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="display-4">
                 <span th:text="${course.priceDiscount}"></span>
                  <del th:text="${course.price}">$36.99</del>
                </h3>
                <span class="badge bg-danger"><i class="feather-icon icon-clock me-1"></i>5 days left!</span>
              </div>
              <div class="btn-cta mt-4">
                <a href="#" class="btn btn-primary rounded-2 w-100">Thêm Vào Giỏ Hàng</a>
                <a href="#" class="mt-3 btn btn-outline-primary rounded-2 w-100">Mua Ngay</a>
              </div>
              <div class="price-widget-inner">
                <ul>
                  <li><i class="feather-icon icon-calendar"></i>Published <span>28 Sep 2024</span>
                  </li>
                  <li><i class="feather-icon icon-user"></i>Instructor <span>Daniel Smith</span>
                  </li>
                  <li><i class="feather-icon icon-clipboard"></i>Lectures <span>24</span></li>
                  <li><i class="feather-icon icon-film"></i>Duration <span>22Hr 36Minutes</span>
                  </li>
                  <li><i class="feather-icon icon-users"></i>Enrolled <span>2k Students</span></li>
                  <li><i class="feather-icon icon-award"></i>Course level <span>Intermediate</span>
                  </li>
                  <li><i class="feather-icon icon-globe"></i>Language <span>English</span></li>
                  <li><i class="feather-icon icon-anchor"></i>Certificate <span>English</span></li>
                  <li><i class="feather-icon icon-gift"></i>Pass Percentage <span>89%</span></li>
                </ul>
              </div>
              <div class="card bg-shade p-3 text-center mt-4">
                <h6>Share It On</h6>
                <div class="social-share white my-3 border-bottom pb-3">
                  <a href="#"><i class="feather-icon icon-facebook"></i></a>
                  <a href="#"><i class="feather-icon icon-linkedin"></i></a>
                  <a href="#"><i class="feather-icon icon-youtube"></i></a>
                  <a href="#"><i class="feather-icon icon-twitter"></i></a>
                  <a href="#"><i class="feather-icon icon-instagram"></i></a>
                </div>
                <div class="coupon-form">
                  <form action="#" class="position-relative">
                    <input type="text" placeholder="Coupon">
                    <button class="btn btn-secondary text-info position-absolute right-0">Apply
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>

  <section class="newsletter bg-primary">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <span class="badge-lg bg-white text-primary rounded-5">Get Every Single Updates</span>
          <h2 class="display-2 fw-bold text-info">Subscribe <span
              class="color-info">Newsletter</span>
          </h2>
        </div>
        <div class="col-lg-4">
          <div class="newsletter-form">
            <form action="#">
              <input class="form-control rounded-5 bg-info" type="email"
                     placeholder="Email Address">
              <button class="btn btn-secondary w-100 rounded-5 mt-4">Subscribe Newsletter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</th:block>

<th:block id="js">
  <script th:inline="javascript">
    let reviews = [[${reviews}]];
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
          integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.js"
          integrity="sha512-GzbaI5EsNzdEUq6/2XLYpr1y9CUZRIVsUeWTAFgULtQa5jZ3Nug8i0nZKM6jp9NffBCZhymPPQFcF0DK+JkRpw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script th:src="@{/web-assets/js/main/review.js}"></script>
</th:block>
</body>

</html>