<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${movie.slug}">Chi tiết phim</title>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous" />

    <link rel="stylesheet" th:href="@{/web-assets/css/style.css}" />

</head>
<body>
<header class="bg-dark">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img
                        src="https://motchill.cafe/assets/upload/PwQHQBuQkeaCSLo1698812211.png"
                        alt=""
                        class="logo" />
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                    class="collapse navbar-collapse justify-content-between"
                    id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-white" aria-current="page" href="/"
                    >Trang chủ</a
                    >
                    <a class="nav-link text-white" href="#">Phim bộ</a>
                    <a class="nav-link text-white" href="#">Phim lẻ</a>
                    <a class="nav-link text-white" href="#">Phim chiếu rạp</a>
                    <a class="nav-link text-white" href="#">Quốc gia</a>
                    <a class="nav-link text-white" href="#">Thể loại</a>
                    <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
                </div>

                <div>
                    <a class="text-white" href="#">Đăng nhập</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="py-4">
    <div class="container">
        <div class="mb-3 d-flex justify-content-between align-items-center">
            <h6>Trang chủ / Phim bộ / Đảo hải tặc</h6>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="movie-detail-poster rounded overflow-hidden position-relative">
                    <img
                            th:src="${movie.poster}"
                            alt="${movie.name}" data-bs-toggle="modal"
                            data-bs-target="#modal-trailer" />

<!--                    <div class="play-icon"-->
<!--                         data-bs-toggle="modal"-->
<!--                         data-bs-target="#modal-trailer">-->

<!--                        <i class="fa-regular fa-circle-play"></i>-->

<!--                    </div>-->
                </div>
            </div>

            <div class="col">
                <div class="d-flex align-items-center mb-2">
                    <h4 th:text="${movie.name}">Đảo hải tặc</h4>
                    <span class="ms-2 fw-bold bg-light rounded mb-2"
                    >9.8 <i class="fa-solid fa-star" style="color: #ffd43b"></i
                    ></span>
                </div>

                <div class="bg-body-tertiary movie-detail-content">
                    <div class="container">
                        <div class="row py-3 pb-0">
                            <div class="col-2">
                                <p>Thể loại</p>
                                <p>Năm sản xuất</p>
                                <p>Quốc gia</p>
                                <p>Đạo diễn</p>
                                <p>Diễn viên</p>
                                <p>Nội dung phim</p>
                            </div>
                            <div class="col">
                                <p>Hành động, Hài hước, Phưu lưu, Hoạt hình</p>
                                <p>1999</p>
                                <p>Nhật Bản</p>
                                <p>EIICHIRO ODA</p>
                                <p>N/A</p>
                                <p>
                                    Monkey D. Luffy, 1 cậu bé rất đam mê Đảo hải tặc có ước mơ
                                    tìm được kho báu One Piece và trở thành Vua hải tặc -
                                    Pirate King. Với khả năng co dãn đàn hồi như cao su từ
                                    trái quỉ Gomu Gomu...<a href="" class="">Xem thêm</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <button
                            type="button"
                            class="btn bg-danger movie-detail-content ps-4 pe-4">
                        <a href="#" class="text-white"
                        ><i class="fa-solid fa-play" style="color: #ffffff"></i> Xem
                            thêm</a
                        >
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-4 bg-body-tertiary">
    <div class="container">
        <div class="mb-2 d-flex justify-content-between align-items-center">
            <h3>Phim đề xuất</h3>
        </div>

        <div class="row">
            <div class="col-2" th:each="movie : ${movieRecommended}">
                <a class="movie-item text-black" th:href="|/phim/${movie.id}/${movie.slug}|">
                    <div class="movie-poster rounded overflow-hidden">
                        <img
                                th:src="${movie.poster}"
                                alt="${movie.name}" />
                    </div>
                    <div class="movie-info">
                        <p class="mt-2" th:text="${movie.name}">Đảo Hải Tặc</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container">
        <div class="mb-2 d-flex justify-content-between align-items-center">
            <h5>Bình luận</h5>
        </div>

        <div>
            <p>
                Vui lòng
                <a href="#" class="text-decoration-underline">đăng nhâp</a> để viết
                bình luận
            </p>

            <div class="d-flex align-items-center mb-5">
                <div
                        class="me-4 ps-4 pe-4 pt-3 pb-3 bg-secondary-subtle rounded-circle fs-4">
                    D
                </div>

                <div>
                    <div class="d-flex align-items-center mb-1">
                        <div class="fw-bold">Lê Hải Dũng</div>
                        <span class="fs-12 mt-1 ms-2 text-secondary">27/02/2024</span>
                    </div>

                    <p class="mb-1 fw-bold">
                        <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                        10/10
                        <span>Xuất sắc</span>
                    </p>

                    <p class="mb-0 text-secondary">Phim hay đáng để xem</p>
                </div>
            </div>

            <div class="d-flex align-items-center mb-5">
                <div
                        class="me-4 ps-4 pe-4 pt-3 pb-3 bg-secondary-subtle rounded-circle fs-4">
                    D
                </div>

                <div>
                    <div class="d-flex align-items-center mb-1">
                        <div class="fw-bold">Lê Hải Dũng</div>
                        <span class="fs-12 mt-1 ms-2 text-secondary">27/02/2024</span>
                    </div>

                    <p class="mb-1 fw-bold">
                        <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                        10/10
                        <span>Xuất sắc</span>
                    </p>

                    <p class="mb-0 text-secondary">Phim hay đáng để xem</p>
                </div>
            </div>

            <div class="d-flex align-items-center mb-5">
                <div
                        class="me-4 ps-4 pe-4 pt-3 pb-3 bg-secondary-subtle rounded-circle fs-4">
                    D
                </div>

                <div>
                    <div class="d-flex align-items-center mb-1">
                        <div class="fw-bold">Lê Hải Dũng</div>
                        <span class="fs-12 mt-1 ms-2 text-secondary">27/02/2024</span>
                    </div>

                    <p class="mb-1 fw-bold">
                        <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                        10/10
                        <span>Xuất sắc</span>
                    </p>

                    <p class="mb-0 text-secondary">Phim hay đáng để xem</p>
                </div>
            </div>

            <div class="d-flex align-items-center mb-5">
                <div
                        class="me-4 ps-4 pe-4 pt-3 pb-3 bg-secondary-subtle rounded-circle fs-4">
                    D
                </div>

                <div>
                    <div class="d-flex align-items-center mb-1">
                        <div class="fw-bold">Lê Hải Dũng</div>
                        <span class="fs-12 mt-1 ms-2 text-secondary">27/02/2024</span>
                    </div>

                    <p class="mb-1 fw-bold">
                        <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                        10/10
                        <span>Xuất sắc</span>
                    </p>

                    <p class="mb-0 text-secondary">Phim hay đáng để xem</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="d-flex justify-content-center align-items-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link text-black" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link text-black" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link text-black" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link text-black" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link text-black" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</section>

<footer class="py-4 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a class="navbar-brand" href="#">
                    <img
                            src="https://motchill.cafe/assets/upload/PwQHQBuQkeaCSLo1698812211.png"
                            alt=""
                            class="logo" />
                </a>

                <p class="text-white mt-3 py-0">
                    Phim Thám Tử Lừng Danh Conan bắt đầu với câu chuyện về Shinichi
                    Kudo, một học sinh trung học tài năng và là một thám tử học đường.
                    Sau khi bị biến thành cậu bé Conan Edogawa
                </p>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase mb-4 fw-normal">danh mục</h5>
                    <p>Tin tức</p>
                    <p>Phim lẻ</p>
                    <p>Phim bộ</p>
                    <p>Phim chiếu rạp</p>
                    <p>TV shows</p>
                </div>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase mb-4 fw-normal">danh mục</h5>
                    <p>Tin tức</p>
                    <p>Phim lẻ</p>
                    <p>Phim bộ</p>
                    <p>Phim chiếu rạp</p>
                    <p>TV shows</p>
                </div>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase mb-4 fw-normal">danh mục</h5>
                    <p>Tin tức</p>
                    <p>Phim lẻ</p>
                    <p>Phim bộ</p>
                    <p>Phim chiếu rạp</p>
                    <p>TV shows</p>
                </div>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase mb-4 fw-normal">danh mục</h5>
                    <p>Tin tức</p>
                    <p>Phim lẻ</p>
                    <p>Phim bộ</p>
                    <p>Phim chiếu rạp</p>
                    <p>TV shows</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="modal-trailer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Trailer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe id="video-trailer" style="aspect-ratio: 16 / 9" width="100%" th:src="${movie.trailerUrl}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>


<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script th:src="@{/web-assets/js/main.js}"></script>
</body>

</html>
