<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Watch Store</title>
</head>
<body>
<div class="container">
    <div class="title-product">Danh sách sản phẩm</div>

    <div class="header-container">
        <form action="" class="form-input">
            <input type="text" name="title" placeholder="Tìm kiếm theo tên">
            <button type="submit">Tìm Kiếm</button>
        </form>

        <div class="wrap-sort">
            <button>
                <a th:href="|/sort?&sort=desc&page=${pageResponse.getCurrentPage()}|">Giá tăng dần</a>
            </button>
            <button>
                <a th:href="|/sort?sort=asc&page=${pageResponse.getCurrentPage()}|">Giá giảm dần</a>
            </button>
        </div>
    </div>

    <ul class="list-product" >
        <li class="item-product" th:each="product : ${pageResponse.getContent()}">
                <a th:href="@{|/products/${product.getId()}|}" class="product-link">
                    <img th:src="@{/images/img_1.jpg}" alt="this is image" class="product-image">
                    <div class="product-info">
                        <h4 th:text="${product.getName()}">name</h4>
                        <th:block th:if="${product.getPriceDiscount() > 0}">
                            <p class="price-discount"  th:text="${product.getPriceDiscount()} + '$'">priceDiscount</p>
                        </th:block>

                        <th:block th:if="${product.getPriceDiscount() == 0}">
                            <p class="price-new" th:text="${product.getPrice()} + '$'">price</p>
                        </th:block>

                        <th:block th:unless="${product.getPriceDiscount() == 0}">
                            <p class="price" th:text="${product.getPrice()} + '$'">price</p>
                        </th:block>

                        <p class="rating" th:text="${product.getRating()} + '★'">rating</p>
                    </div>
                </a>
        </li>
    </ul>

    <div class="pagination">
        <div>
            <button th:if="${pageResponse.getCurrentPage() != 1}">
                <a th:href="|?sort=desc&page=${pageResponse.getCurrentPage()-1}|">Trang trước</a>
            </button>

            <button th:style="${pageResponse.getCurrentPage() == number ? 'background-color: #72cda7' : ''}"
                    th:each="number : ${#numbers.sequence(1, pageResponse.totalPages()+1)}">
                <a th:href="|?sort=desc&page=${number}|" th:text="${number}">1</a>
            </button>

            <button th:if="${pageResponse.getCurrentPage() != pageResponse.totalPages()+1}">
                <a th:href="|?sort=desc&page=${pageResponse.getCurrentPage()+1}|">Trang sau</a>
            </button>
        </div>

    </div>
</div>

</body>
</html>