@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
}

img {
    max-width: 100%;
}

.logo {
    width: 180px;
}

.movie-poster img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.movie-detail-poster img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.movie-detail-content {
    font-size: 15px;
}

.movie-detail-poster .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.movie-detail-poster .play-icon:hover {
    transform: translate(-50%, -50%) scale(1.2);
}

.fs-12 {
    font-size: 12px;
}

/* blog */
.form-input {
    width: 550px;
    height: 40px;
}

.form-input input {
    height: 100%;
    width: 80%;
    padding-left: 8px;
    outline: none;
}

.form-input button {
    width: 20%;
    height: 100%;
    border-left: none;
}

.blog-item {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.blog-poster img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

/* blog-detail */
.blog-detail-header .tag span {
    background-color: #e5e5e5;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    color: gray;
    font-size: 14px;
    padding: 0 4px 0 4px;
    cursor: pointer;
    margin-right: 0.4rem;
}

.play-detail-movie {
    font-size: 500px;
}

/*review */
.review {
    cursor: pointer;
}

/*login*/
#form-login, #form-register, #form-forgot-password, #form-reset-password {
    width: 480px;
}

/*information user*/
